.recentEarnings{
    border:1px solid #485e9029;
    padding:20px;
    margin-left: 10px;
}
.recentEarningsTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recentEarningsTopLeft h5{
    margin: 0;
    font-size: 14px;
}
.recentEarningsTopLeft p{
    margin: 0;
    font-size: 14px;
    color: #8392a5;
}
.recentEarningsTopRight button{
    border:1px solid #485e9029;
    outline:none;
    padding:5px 15px;
    text-transform: capitalize;
    background-color: #fff;
    color:#8392a5;
    font-size: 12px;
}
.recentEarningsTopRight .range{
    background-color: #f5f6fa;
    border-radius: 5px 0px 0px 5px;
}
.recentEarningsTopRight .period{
    border-radius: 0 5px 5px 0;
}
.recentEarningsTopRight button:focus{
    background-color: #f5f6fa;
    border-color: #8392a5;
}
.recentEarningsMid{
    display: flex;
}
.earningChartAreas{
    display: flex;
    align-items: center;
}
.earningChartAreas h6{
    margin:0;
    font-size: 20px;
    text-transform: uppercase;
    font-size: 12px;
    color:#8392a5;
}
.earningChartAreas h4{
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #001737;
    padding-top: 8px;
}
.barIconArea{
    padding: 8px 13px;
    border-radius: 5px;
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
    opacity: 0.5;
}
.firstBar{
    background: #00cccc;
}
.secondBar{
    background: #f10075;
}
.thirdBar{
    background: #0168fa;
}
.earningChartAreas:nth-child(2){
    margin-left:30px;
}
.earningChartAreas:nth-child(3){
    margin-left:30px;
}
