.wrapper{
    width:100%;
    background-color: #1b1b1b;
    /* background-color: #000000; */
    color:white;
    padding:0 20px;
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index: 9999;
}
.main{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color:white;
}
.logoLink{
    text-decoration: none;
}
.lastR, .leftR{
    color:crimson;
}
.icons{
    margin:10px;
    cursor:pointer;
}
.icons:hover{
    color:#acd107;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarimg{
    margin-left:10px;
    cursor:pointer;
}
.menulink{
    text-decoration: none;
    color:gray;
}