.revenueGrowth {
    border: 1px solid #dfdedec0;
}

.revenueGrowth .topGrowth {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #D1E6FA;
    padding: 15px;
}

.revenueGrowth .topGrowth .topGrowthLeft {
    float: right;
    width: 60%;
}

.revenueGrowth .topGrowth .topGrowthLeft h6 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0;
}

.revenueGrowth .topGrowth .topGrowthRight {
    float: right;
    width: 40%;
    text-align: right;
    display: flex;
    align-items: center;
    float: right;
}

.revenueGrowth .topGrowth .topGrowthRight div span {
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
}

.revenueGrowth .topGrowth .topGrowthRight .growthText {
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 5px;
}

.revenueGrowth .topGrowth .topGrowthRight .rounds {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: green;
    /* display: flex; */
}

.revenueGrowth .topGrowth .topGrowthRight .blue {
    background: #69B2F8;
}

.revenueGrowth .topGrowth .topGrowthRight .green {
    background: #00E396;
}

.revenueGrowth .topGrowth .topGrowthRight .gray {
    background: #D1E6FA;
}

/* mid area design */
.midGrowth {
    padding: 15px;
    display: flex;
}

.midGrowth div {
    width: 50%;
}

.midGrowth div h2 {
    font-size: 24px;
}

.midGrowth div h5 {
    font-size: 11px;
    text-transform: uppercase;
}

.midGrowth div p {
    font-size: 11px;
    color: gray;
}
.midGrowth div p a{
    text-decoration: none;
    color: #0d6efd;
}

@media screen and (max-width:768px) {
    .revenueGrowth .topGrowth .topGrowthLeft h6 {
        font-size: 13px;
    }
    .revenueGrowth .topGrowth{
        padding:8px;
    }
    .revenueGrowth .topGrowth .topGrowthLeft{
        width:40%;
    }
    .revenueGrowth .topGrowth .topGrowthRight{
        width:60%;
    }
    .revenueGrowth .topGrowth .topGrowthRight .growthText {
        font-size: 9px;
    }
    .removePadding{
        padding-right: 0;
    }
    .growthText{
        margin:0;
    }
    .revenueGrowth .topGrowth .topGrowthRight div span {
        text-transform: uppercase;
        font-size: 8px;
        color: gray;
    }
}