.sidebar{
    /* height:100vh; */
}
.closeIcon{
    display: block;
    float: right;
    margin-top:-15px;
    cursor: pointer;
}
.barIcon{
    display: block;
    /* float: left; */
    margin-left:2px;
    margin-top:-15px;
    cursor: pointer;
}
/* .makeMarginRight{
    margin-right: -10px;
    margin-bottom: 5px;
} */
.padding-right{
    padding-left:30px !important;
    transition: 0.3s;
}
.iconSize{
    font-size: 25px !important;
}
.main-area{
    padding:10px 20px;
    color:#2b2b2b;
    border-right: 2px solid gainsboro;
    margin-top: 20px;
    overflow: scroll;
    height: 85vh;
    width:15%;
    position: fixed;
    top:40px;
    left:0; 
    transition: 0.3s;
}
.mini-area{
    padding:10px 20px;
    color:#2b2b2b;
    border-right: 2px solid gainsboro;
    margin-top: 20px;
    overflow: scroll;
    height: 85vh;
    width:2%;
    position: fixed;
    top:40px;
    left:0;
    transition: 0.3s;
    overflow-x: hidden;
    overflow-y: scroll;
}
.sidebar-menu{
    margin-top: 20px;
}
.menus{
    margin:0;
    padding:0;
}
.menus li{
    list-style: none;
    padding:5px;
    cursor: pointer;
}
.menus li:active, .menus li:hover{
    color: #232323;;
    background-color: antiquewhite;
}
.menus li .links{
    color:black;
    text-decoration: none;
    display: block;
    width: 100%;
}
.menus li div{
    display:flex;
    align-items: center;
}
.menus li span{
    padding-left: 5px;
    transition: 0.3s;
}
.show{
    display: block;
}
.hide{
    display: none;
}
