.createNewAccount{
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding-top:20px;
}
.itsFreeToSignUp{
    font-size: 14px;
    color: #00000061;
    margin: 0;
}
.tosAggrement{
    font-size: 12px;
}
.signupAvatar{
    width:100%;
}
.signUp{
    height:120vh;
}
.signInArea{
    display: flex;
    justify-content: center;
}
@media screen and (max-width:768px) {
    .signupAvatarArea{
        display: none;
    }
}

